@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

h1 {
  color: #fff;
}

.music-container {
  box-shadow: 0px 48px 50px -4px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  display: flex;
  margin: 100px 0;
  padding: 20px 30px;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0px 48px 35px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 48px 35px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 48px 35px 6px rgba(0, 0, 0, 0.2);
}

.img-container {
  position: relative;
  width: 100px;
}

.img-container img {
  border-radius: 100%;
  width: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;

  animation: rotate 7s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.aciton-btn {
  background-color: #fff;
  border: none;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.aciton-btn.action-btn-big {
  font-size: 30px;
  color: #cdc2d0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  padding: 10px 10px 10px 100px;
  width: calc(100% - 150px);
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-contianer {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #f0296e;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-family: 'ZCOOL KuaiLe', cursive;
  transition: color 0.5s;
}

footer a:hover {
  color: aqua;
}
